<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<% if @user.id == current_user.id %>    #現在ログインしているユーザーではない場合
  <% @receiveUser.each do |u| %>%   #@userが参加しているルームを取り出す
      <li><%= link_to "#{User.find(u.room.room_users.where.not(user_id: @user.id).first.user_id).name}さんとのダイレクトメッセージ", room_path(u.room.room_users.where.not(user_id: @user.id).first.room_id) %></li>
  <% end %>
<% end %>

<% unless @user.id == current_user.id %>    #現在ログインしているユーザーではない場合
  <% if @haveRoom == true %>    #既にルームが作成されている場合は
    <%= link_to "ダイレクトメッセージ", room_path(RoomUser.find_by(user_id: current_user.id).room_id ) %>    #そのチャットルームに遷移するボタンを表示
  <% else %>
    <%= form_with model: @room, local: true do |f|%>    #roomsテーブルに情報を送信
      <%= fields_for @RoomUser do |r| %>    #room_usersテーブルに情報を送信
        <%= r.hidden_field :user_id, value: @user.id %>  room_usersテーブルにuser_idを含める
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
